@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*---------------------New Styles for courses page-------------------*/

.mid-page{
	height				: 100%;
	width				: 65%;
}




.courses-img{
	display				: block;
	width			: 300px; 
 	height			: 100px;
 	overflow			: hidden; 
 	transition			: 0.3s;
}

.courses{
	display				: block;
	margin				: auto;
	height				: 25%;
	width				: 75%;/* change this for size of course's block*/
	border-radius		: 2px;
 	overflow			: hidden; 
	background-color	: #3B0254;
	margin-top			: 20px;
	transition			: 0.3s;
	box-shadow			: 0px 2px 5px #888888;
}
.courses:hover{
	box-shadow			: 10px 12px 10px #888888;
	
}

img.decor {
	max-width			: 100%;
}

.sub-title{
	z-index				: 3;
	display				: block;
	height				: 15%;
	width				: 100%;
	
}
.sub-title a{	
	padding				: 5px 10px 10px 20px;
    text-decoration		: none;
    font-size			: 120%;
    color				: #F0F0F0;
    display				: block;
    transition			: 0.3s;
    text-align			: center;
    font-family			: 'Open-Sans', sans-serif;
}


/*----------------------New Styles----------*/
/*-------------Style for recent update part-------------*/


#NewsArea
		{
		padding: 10px;
		height: 100%;
		width: 25%;
		right:0;
		top:0;
		position: absolute; 
		overflow: auto;
		-webkit-overflow-scrolling: touch; 
		box-sizing:border-box;
		border: 2px solid black;
		}





/* FONTS & PADDING */

.news-text	{		
		color: #666666;
		font: roboto 12px "Droid Sans", arial, sans-serif;
		text-align: left;
		padding: 8px 7px 0px 7px;
		}

.news-title	{
		color: #000000;
		font: bold 15px "Droid Sans", arial, sans-serif;
		text-align: left;
		border-bottom: #666666 0px solid;
		} 

/* EMBEDDED NEWS PAGE LINK COLORS */

.news-page a:link	{ 
				color: #0033FF;
				text-decoration: none; 
			}

.news-page a:visited	{ 
				color: #6633FF; 
				text-decoration: none;
			}

.news-page a:active 	{ 
				color: #0033FF;
				text-decoration: none;
			}

.news-page a:hover	    { 
				color: #6699FF; 
				text-decoration: underline;
		        	}
		        	
/*-------------Recent Updates--------------*/

